---
// 使用全局CSS样式
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}内容>
	<!-- 里面是BaseLayout的插槽(<slot />)的自定义内容 -->
	<h2>欢迎来到我的博客!</h2>
	<p>这里是我分享想法和经验的地方。</p>
	<ul>
		<li><a href="/posts/post-1">我的第一篇博客</a></li>
		<li><a href="/posts/post-2">我的第二篇博客</a></li>
		<li><a href="/posts/post-3">我的第三篇博客</a></li>
		<li><a href="/posts/post-4">我的第四篇博客</a></li>
	</ul>
</BaseLayout>