---
// 使用全局CSS样式
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "首页";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- 里面是BaseLayout的插槽(<slot />)的自定义内容 -->
	<h2>欢迎来到我的网站!</h2>
	<p>这是一个使用Astro构建的简单网站示例。</p>
</BaseLayout>
